	<div class="container">
	<header>
		<div class="col-md-4 col-xs-12 col-sm-12 pull-left">
			<a href="http://www.happiestminds.com/" target="_blank"><img src="templates/images/happiestminds-logo.jpg" class="img-responsive" alt="Happiest Minds" title="Happiest Minds"></a>
		</div>
		<div class="col-md-4 col-xs-12 col-sm-12 header-right">
			<div class="profile-pic">
				<img src="templates/images/profile-pic.jpg" class="img-responsive" alt="" title="">
			</div>
			<div class="profile-details">
				<ul>
					<li><b>Developed By</b> <span>Bhasky</span></li>
					<li><b>Designation</b> <span>Tech Lead</span></li>
					<li><b>Agenda</b> <span>Chatbot</span></li>
				</ul>
			</div>
		</div>
	</header>
<section class="basic-report-section">
		<h2>Simple Banking Chatbot Application</h2>
		<p class="simple-text-style">
		</p>
		<ul>
		</ul>
	
		
<div id="center-text">
    <h3>Usecase covered</h3>
    <p>- Simple chatting</p>
    <p>- Generic banking related questions</p>
    <h3>Out of scope</h3>
    <p>- Complex intelligent question and answers</p>
    <p>- Memorize conversations</p>
  </div> 
<div id="body"> 
  
<div id="chat-circle" class="btn btn-raised">
        <div id="chat-overlay"></div>
		    <i class="material-icons">Chat</i>
	</div>
  
  <div class="chat-box">
    <div class="chat-box-header">
      ChatBot
      <span class="chat-box-toggle"><i class="material-icons">close</i></span>
    </div>
    <div class="chat-box-body">
      <div class="chat-box-overlay">   
      </div>
      <div class="chat-logs">
       
      </div><!--chat-log -->
    </div>
    <div class="chat-input">      
      <form>
        <input type="text" id="chat-input" placeholder="Send a message..."/>
      <button type="submit" class="chat-submit" id="chat-submit"><i class="material-icons">send</i></button>
      </form>      
    </div>
  </div>
  
  
  
  
</div>
	</section>
			
</div>
					
</div>

<footer class="footer-section">
	
</footer>

