<div class="container">
	

  <div class="container container-table">
            <div class="panel status panel-danger">
                <div class="panel-heading">
                    <h1 class="panel-title text-center">Status</h1>
                </div>
                <h2 class="panel-body text-center">                        
                    <strong>Your Comments has been updated.</strong>
                </h2>
                <div ng-click="go_back('text')">Back</div>
            </div>

              
                        
                          
                          
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>